<a href="https://colab.research.google.com/github/NidhalBB/system-recommendation/blob/main/SysRecemandation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('Fake_dataset.csv',low_memory=False)

In [ ]:
df.groupby('Product Name')['Rating'].mean().sort_values(ascending=False).head()

Product Name
floor         5.0
beautiful     5.0
list          5.0
particular    5.0
share         5.0
Name: Rating, dtype: float64

In [ ]:
df.groupby('Product Name')['Rating'].count().sort_values(ascending=False).head()

Product Name
education    5
pattern      5
wonder       4
yeah         4
marriage     4
Name: Rating, dtype: int64

In [ ]:
ratings = pd.DataFrame(df.groupby('Product Name')['Rating'].mean())
ratings['num of ratings'] = pd.DataFrame(df.groupby('Product Name')['Rating'].count())
ratings.head()

              Rating  num of ratings
Product Name
American         1.0               1
Congress         4.0               1
Democrat         3.0               1
I                4.0               3
Mr               5.0               2

In [ ]:
moviemat = df.pivot_table(index='User ID',columns='Product Name',values='Rating')
moviemat.head()

Product Name,American,Congress,Democrat,I,Mr,PM,Republican,about,accept,account,...,worry,write,writer,wrong,yeah,year,yes,young,your,yourself
User ID,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ratings.sort_values('num of ratings',ascending=False).head(10)

              Rating  num of ratings
Product Name
education       2.60               5
pattern         1.40               5
wonder          4.00               4
yeah            4.25               4
marriage        3.50               4
religious       2.50               4
case            3.50               4
organization    3.25               4
paper           3.50               4
history         4.00               4

In [ ]:
starwars_user_ratings = moviemat['education']

In [ ]:
similar_to_starwars = moviemat.corrwith(starwars_user_ratings)

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [ ]:
corr_starwars = pd.DataFrame(similar_to_starwars,columns=['Correlation'])
corr_starwars.dropna(inplace=True)
corr_starwars.head()

              Correlation
Product Name
education             1.0
marriage              1.0

In [ ]:
corr_starwars.sort_values('Correlation',ascending=False).head(10)

              Correlation
Product Name
education             1.0
marriage              1.0

In [ ]:
corr_starwars = corr_starwars.join(ratings['num of ratings'])
corr_starwars.head()

              Correlation  num of ratings
Product Name
education             1.0               5
marriage              1.0               4

In [ ]:
corr_starwars[corr_starwars['num of ratings']>2].sort_values('Correlation',ascending=False).head()

              Correlation  num of ratings
Product Name
education             1.0               5
marriage              1.0               4

In [ ]:
liarliar_user_ratings = moviemat['pattern']
similar_to_liarliar = moviemat.corrwith(liarliar_user_ratings)
corr_liarliar = pd.DataFrame(similar_to_liarliar,columns=['Correlation'])
corr_liarliar.dropna(inplace=True)
corr_liarliar = corr_liarliar.join(ratings['num of ratings'])
corr_liarliar[corr_liarliar['num of ratings']>1].sort_values('Correlation',ascending=False).head()

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

              Correlation  num of ratings
Product Name
pattern               1.0               5